<% if invoice.state == "draft" || invoice.state == "sent" || invoice.state == "viewed" %>
  <button class="btn btn-success btn-small set_payment" data-invoice-id="<%= invoice.id %>" type="button"><i class="icon-pencil"></i>&nbsp; PAYMENT</button>
<% elsif invoice.state == "current" || invoice.state == "due" || invoice.state == "overdue" %>
  <button class="btn btn-success btn-small set_payment" data-invoice-id="<%= invoice.id %>" type="button"><i class="icon-pencil"></i>&nbsp; PAYMENT</button>
<% elsif invoice.state == "paid" %>
  <%= link_to "<i class='icon-refresh'></i> Undo".html_safe, "#", :id => "undo_invoice_#{invoice.id}", "data-id" => invoice.id, :class => "undo_invoice btn btn-small" %>
  <%#= form_tag ({:controller => "invoices", :action => "undo", :id => invoice.id}), ({:remote => true, :method => :post}) do %>
    <%#= submit_tag (raw "<i class='icon-refresh'></i> Undo".html_safe), :class => "btn btn-small" %>
    <!--
    <button class="btn btn-small" type="button"><i class="icon-refresh"></i> UNDO</button>
    -->
  <%# end %>
  <!--
  -->
<% else %>
  <button class="btn btn-success btn-small set_payment" data-invoice-id="<%= invoice.id %>" type="button"><i class="icon-pencil"></i>&nbsp; PAYMENT</button>
  <%#= link_to "Mark Paid", "/change_status?id=#{invoice.id}&state=paid", :class => "btn change_invoice_status" %>
<% end %>
