<div class="span3">
	
	<h4>Company details</h4>
	
	<address>
	<strong>Name</strong><br>
    Twitter Inc.<br>
    <strong>Street</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <strong>Phone</strong>
    <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
     
    <address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">first.last@example.com</a>
    </address>
    <a href="#">Edit</a>


</div>
<div class="span9">
<ul class="thumbnails">
    <li class="span3">
    	 <div class="thumbnail">
    	 	<img src="http://cdn1.iconfinder.com/data/icons/jfk/128/notebook-512.png" alt="">
    	 	<h4>Salesman</h4>
    	 	<p>A person who is blabla...</p>
    	 	<a href="salesman_new"class="btn btn-info btn-block">Add salesman</a>
    	 </div>
    </li>
    <li class="span3">
    	 <div class="thumbnail">
    	 	<img src="http://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/51-128.png" alt="">
    	 	<h4>Accountant</h4>
    	 	<p>A person who is blabla...</p>
    	 	<a href="/accountant/new"class="btn btn-info btn-block">Add accountant</a>
    	 </div>
    </li>
    <li class="span3">
    	 <div class="thumbnail">
    	 	<img src="http://cdn1.iconfinder.com/data/icons/dot/128/usd_dollar_money_cash.png" alt="">
    	 	<h4>Collector</h4>
    	 	<p>A person who is blabla...</p>
    	 	<a href="/collector/new"class="btn btn-info btn-block">Add collector</a>
    	 </div>
    </li>
    
</ul>

 <div class="input-append">
   <input class="span5" id="appendedInputButtons" type="text">
   <button class="btn" type="button">Search</button>
   <button class="modalButton btn" type="button" id="1">Add</button>
   
   <!-- 
   <button class = "btn" type = "button">Date</button>
   <button class = "btn" type = "button">Name</button>
   -->
 </div>

<table class="table table-hover">
<tr>
	<th>#</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Job</th>
	<th>Actions</th>
</tr>
<tr>
	<td>1</td>
	<td>Andrei</td>
	<td>Popescu</td>
	<td>Salesman</td>
	<td><a href="#">Edit</a></td>
</tr>
<tr>
	<td>2</td>
	<td>Bogdan</td>
	<td>Ionescu</td>
	<td>Accountant</td>
	<td><a href="#">Edit</a></td>
</tr>
</table>
    
</div>