<h5>Recurrent Actions</h5>
<%= check_box_tag :set_recurrency, true, false, :style => "display: block" %> Set Recurrency
<br />
<%= select_tag :recurrent, options_for_select(["Daily", "Weekly", "Monthly"]) %>

