

<div class="row">
	<div class="span6">
		<div class="well">
		<h3>Import customers</h3>
		<p>To import customers bla bla bla....</p>
		<ul>
			<li>1.Lorem ipsum bla </li>
			<li>2.Lorem ipsum bla </li>
			<li>3.Lorem ipsum bla </li>
		</ul>
		<%= form_tag import_customers_path, multipart: true do %>
		    <%= file_field_tag :file %>
		    <%= submit_tag("Import", :class => "btn btn-large btn-success pull-right") %>
		    <% end %>
		</div>
		
		<div class="alert alert-danger">Error log</div>
		<table class="table table-bordered table-striped">
			<tr>
				<td>Line #</td>
				<td>Field</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>34</td>
				<td>first_name</td>
				<td>not valid</td>
			</tr>
			<tr>
				<td>37</td>
				<td>first_name</td>
				<td>not valid</td>
			</tr>
		</table>
		
	
	</div>
	<div class="span6">
		<div class="well"> 
		<h3>Export customers</h3>
		<p>To export customers..............</p> 
		<ul>
			<li>1.Lorem ipsum bla </li>
			<li>2.Lorem ipsum bla </li>
			<li>3.Lorem ipsum bla </li>
		</ul>
		  <%= link_to "Export", salesman_path(format: "csv"), :class => "btn btn-large btn-warning pull-right" %>
		<div class="clearfix"></div>
		</div>
	</div>
	
</div>