<%= @user_details[:first_name] %>
<%= @user_details[:last_name] %>
<%= @job = @user_details[:job] %>

<% #@job[0].job_id %>
<div class="span3">

           <!--
 <ul class="well nav nav-list">
             <%# if(@job[:job_id] == 2)%>
              <li class="nav-header">Salesman</li>
              <li><a href="#">Add client</a></li>
              <li><a href="#">Import clients</a></li>
            <%# end %>
            <%# if(@job[:job_id] == 3)%> 
              <li class="nav-header">Accountant</li>
              <li><a href="employee_new">Create invoice</a></li>
              <li><a href="#">Clients list</a></li>
              <li><a href="#">Statistics</a></li>
              <li><a href="#">Edit company</a></li>
           <%# end %>
           <%# if(@job[:job_id] == 4)%>
              <li class="nav-header">Collector</li>
              <li><a href="employee_new">Create invoice</a></li>
              <li><a href="#">Clients list</a></li>
              <li><a href="#">Statistics</a></li>
              <li><a href="#">Edit company</a></li>
            <%# end %>
            </ul>
-->
</div>
<div class="span9">

 <h4>Clients</h4>
<table class="table table-striped">
	<tr>
		<th>#</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email Name</th>
		<th>Balance</th> 
		<th>Actions </th>		
	</tr>
	<tr>
		<td>2</td>
		<td>Andrei</td>
		<td>Popescu</td>
		<td>andrei@yahoo.com</td>
		<td>$ 0.00</td>
		<td>Edit </td>		
	</tr>
	<tr>
		<td>3</td>
		<td>Andrei</td>
		<td>Popescu</td>
		<td>andrei@yahoo.com</td>
		<td>$ 0.00</td>
		<td>Edit </td>
	</tr>
	<tr>
		<td>4</td>
		<td>Andrei</td>
		<td>Popescu</td>
		<td>andrei@yahoo.com</td>
		<td>$ 0.00</td>
		<td>Edit </td>
	</tr>
	<tr>
		<td>5</td>
		<td>Andrei</td>
		<td>Popescu</td>
		<td>andrei@yahoo.com</td>
		<td>$ 0.00</td>
		<td>Edit </td>
	</tr>
</table>
    
</div>