<ul class=" nav nav-list left-menu">
             <li class="nav-header">Admin</li>
             <li><a href="/admin"><i class="icon-ml-home"></i> Home</a></li>
              <li><a href="/employees/new"><i class="icon-ml-add"></i> Add employee</a></li>
              <li><a href="#"><i class="icon-ml-align-justify"></i> Clients list</a></li>
              <li><a href="#"><i class="icon-ml-align-left"></i> Statistics</a></li>
              <li> <%= link_to company_edit_path(current_user[:company_id]) do %>
             	   <i class="icon-ml-settings"></i> Edit company
                   <% end %>
              </li>
            </ul>