<ul class=" nav nav-list left-menu">
			              <li class="nav-header">Collector</li>
			              <li><a href="/collector"><i class="icon-ml-home"></i> Home</a></li>
			              <!--
			              <li><a href="/employee_new">Lorem ipsum</a></li>
			              <li><a href="#" data-icon="&#xe000"> Lorem ipsum</a></li>
			              <li><a href="#"><i class="icon-ml-search"></i>Lorem ipsum</a></li>
			              <li><a href="#"><i class="icon-ml-align-right"></i>Lorem ipsum</a></li> -->
			            </ul>