 <ul class=" nav nav-list left-menu">
			              <li class="nav-header">Salesman</li>
			              <li><a href="/salesman"><i class="icon-ml-home"></i> Home</a></li>
			              <li><a href="/customers/new"><i class="icon-ml-add"></i> Add customer</a></li>
			              <li><a href="#"><i class="icon-ml-arrow-down"></i> Import clients</a></li>
			              <li><a href="#"><i class="icon-ml-arrow-up"></i> Export clients</a></li>
 </ul>