
             <li class="dropdown">
             	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             	 	Accountant
             	 	<b class="caret"></b>
             	 </a>
             	 <ul class="dropdown-menu">
	             		  <li><a href="/accountant"><i class="icon-ml-align-justify"></i> Invoices list</a></li>
			              <li><a href="/invoices/new"><i class="icon-ml-add"></i> Add invoice</a></li>
			              <li><a href="/invoices/import_export"><i class="icon-resize-vertical"></i> Import/Export invoices</a></li>
             	 </ul>
            </li>