             <li class="dropdown">
             	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             	 	Collector
             	 	<b class="caret"></b>
             	 </a>
             	 <ul class="dropdown-menu">
	             	<li><a href="/collector"><i class="icon-align-justify"></i> Invoices list</a></li>  
	           	 </ul>
            </li>