             <li class="dropdown">
             	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             	 	Accounts
             	 	<b class="caret"></b>
             	 </a>
             	 <ul class="dropdown-menu">
	             	<li><a href=<%= customers_path %>><i class="icon-align-justify"></i> Customers list</a></li>
			        <li><a href="/customers/new"><i class="icon-plus-sign"></i> Add customer</a></li>
			        <li><a href="<%= customers_import_export_path %>"><i class="icon-sort"></i> Import/export clients</a></li>
			          
	           	 </ul>
            </li>